<h5>Programa de Preparación de Alimentos Artesanales - Actividades Clave</h5>
<h6>3er Semestre</h6>
<p><strong>UAC 1: Conserva frutas, verduras y legumbres a través de métodos tradicionales</strong><br>
1. Dispone Normas de Seguridad e higiene en la preparación de frutas, verduras y legumbres<br>
2. Conserva frutas, verduras y legumbres por deshidratación<br>
3. Conserva verduras y legumbres en salmuera y vinagre</p>
<p><strong>UAC 2: Transforma cereales y harinas para la elaboración de tortillas y productos afines</strong><br>
1. Aplica principios de la Nixtamalización<br>
2. Elabora tortillas, totopo y tostada<br>
3. Elabora tamales, atoles y tortillas enriquecidas</p>
<h6>4° Semestre</h6>
<p><strong>UAC 1: Realiza distintos tipos de pan a base de harinas y otros ingredientes</strong><br>
1. Utiliza Ingredientes en masas y mezclas<br>
2. Prepara diversos tipos de masas y preparados<br>
3. Prepara productos de Panadería tradicional</p>
<p><strong>UAC 2: Elabora productos utilizando azúcar para preparar dulces típicos</strong><br>
1. Elabora productos cristalizados<br>
2. Produce dulces típicos a base de semillas<br>
3. Prepara diversos dulces típicos mexicanos</p>
<h6>5° Semestre</h6>
<p><strong>UAC 1: Obtiene bebidas no alcohólicas mediante procedimientos simples</strong><br>
1. Elabora té, tizanas e infusiones<br>
2. Elabora zumos, jugos y concentrados<br>
3. Prepara bebidas sin alcohol</p>
<p><strong>UAC 2: Prepara productos de carnes, derivados disponibles y sustitutos de proteína</strong><br>
1. Prepara productos a base de cerdo y res curados y cocidos<br>
2. Prepara productos a base de aves marinadas y cocidas<br>
3. Prepara productos a base de soya procesada en diferentes presentaciones y sustitutos de proteína</p>
<h6>6° Semestre</h6>
<p><strong>UAC 1: Elabora productos lácteos por métodos tradicionales</strong><br>
1. Elabora queso a partir de leche fresca<br>
2. Elabora crema y mantequilla a partir de leche fresca<br>
3. Elabora productos fermentados y derivados lácteos</p>
<p><strong>UAC 2: Realiza productos utilizando aceites, grasas y condimentos a través de métodos tradicionales</strong><br>
1. Prepara aceite saborizados<br>
2. Realiza emulsiones con aceites y grasas<br>
3. Elabora condimentos y especias</p>