<h5>Programa de Instalaciones Residenciales - Actividades Clave</h5>
<h6>3er Semestre</h6>
<p><strong>UAC 1: Interpreta croquis de diferentes instalaciones básicas de una vivienda</strong><br>
1. Identifica instalaciones básicas de una vivienda de acuerdo con los diferentes espacios<br>
2. Interpreta símbolos para la construcción e instalaciones hidráulicas, de gas y eléctricas<br>
3. Elabora croquis de construcción e instalaciones hidráulicas, de gas y eléctricas de una vivienda bajo la supervisión del experto</p>
<p><strong>UAC 2: Prepara materiales en cantidad y calidad especificada para llevar a cabo diferentes tipos de mezclas bajo la supervisión del experto</strong><br>
1. Verifica materiales de construcción acordes a las necesidades de las instalaciones hidráulicas, de gas y eléctricas<br>
2. Cuantifica materiales como tuberías, conexiones, pegamentos, codos que son necesarios por cada instalación<br>
3. Verifica calidad del material a utilizar de acuerdo con manuales hidrosanitarios, de gas y eléctricos</p>
<h6>4° Semestre</h6>
<p><strong>UAC 1: Traslada materiales constructivos hacia sitios de trabajo bajo normas de seguridad</strong><br>
1. Verifica equipo de seguridad para importar los materiales de construcción<br>
2. Utiliza equipo de seguridad para cada proceso de instalación eléctrica, hidrosanitaria y de gas<br>
3. Transporta material con base a normas, reglamentos de seguridad y prevención de riesgos</p>
<p><strong>UAC 2: Realiza cortes, ranuras en pisos, techos y muros en construcción e instalaciones residenciales</strong><br>
1. Organiza equipo y herramientas por categorías y uso residencial<br>
2. Realiza cortes y ranuras para la construcción bajo las indicaciones del experto<br>
3. Realiza cortes, ranuras en instalaciones hidráulicas, eléctricas y de gas bajo las indicaciones del experto</p>
<h6>5° Semestre</h6>
<p><strong>UAC 1: Limpia muebles, tuberías y conexiones para llevar a cabo diferentes instalaciones de una vivienda</strong><br>
1. Considera formas y manejo de los muebles, tuberías y conexiones para la construcción e instalaciones residenciales<br>
2. Clasifica materiales de plomería, hidráulica e instalaciones de gas de acuerdo con las dimensiones de la vivienda y los muebles<br>
3. Utiliza materiales y equipo para la limpieza de muebles, tuberías y conexiones</p>
<p><strong>UAC 2: Coloca elementos constructivos básicos de una vivienda</strong><br>
1. Reúne elementos constructivos básicos de una vivienda<br>
2. Traslada materiales requeridos al sitio de la obra<br>
3. Instala muebles y accesorios de acuerdo con lo especificado en el plano</p>
<h6>6° Semestre</h6>
<p><strong>UAC 1: Coloca muebles, tuberías y conexiones de acuerdo con instrucciones</strong><br>
1. Clasifica instalaciones sustentables de electricidad, hidrosanitarias y de gas<br>
2. Verifica viabilidad del espacio para la instalación sustentable<br>
3. Elabora croquis de la instalación residencial sustentable</p>
<p><strong>UAC 2 Recupera materiales de construcción para su reúso</strong><br>
1. Clasifica material sobrante durante la construcción o instalación residencial<br>
2. Registra material sobrante en una bitácora acorde con especificaciones del especialista<br>
3. Reutiliza material sobrante de manera sustentable</p>